body {
  font-family: "Poppins", sans-serif;
  background: #fff;
}

/* Header*/
header {
  width: 100%;
  padding: 30px;
  text-align: center;
  background: transparent;
  align-items: center;
  position: fixed;
  box-sizing: border-box;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #211b3d;
}
nav ul li a {
  text-decoration: none;
}
nav ul li a:hover {
  color: #fb644b;
}
.btn-signin {
  border: none;
  width: 150px;
  height: 45px;
  font-weight: 500;
  font-size: 16px;
  background: #ffffff;
  border-radius: 50px;
  color: #211b3d;
}

/* main */
main {
  margin-left: 100px;
}
/* article hero-section */
.hero-section {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background: url("assets/welcome-bg.png");
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.hero-section h4 {
  font-weight: 600;
  font-size: 16px;
  color: #fb644b;
}
.hero-section h2 {
  font-weight: 700;
  font-size: 42px;
  color: #211b3d;
  width: 40%;
  margin: 20px 0 20px;
}
.hero-section p {
  font-weight: 400;
  font-size: 16px;
  color: #9b9b9b;
  width: 30%;
}
.hero-section .btn-learnmore {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: #fb644b;
  border-radius: 47px;
  border: none;
  width: 150px;
  height: 45px;
  margin-top: 20px;
}

/* article steps */
.steps {
  margin-top: 100px;
}
.steps h4 {
  font-weight: 600;
  font-size: 16px;
  color: #fb644b;
}
.steps h3 {
  font-weight: 600;
  margin-top: 20px;
  font-size: 32px;
  color: #211b3d;
  margin-bottom: 50px;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.card {
  text-align: center;
}
.card h6 {
  font-weight: 600;
  font-size: 18px;
  color: #211b3d;
  margin: 20px 0;
}
.card p {
  font-weight: 400;
  font-size: 16px;
  color: #9b9b9b;
  text-align: center;
  padding: 0 80px;
}

/* aside */
aside {
  margin-top: 100px;
}
aside h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fb644b;
}
aside h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #211b3d;
}
aside .cards {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
aside .cards .card {
  margin-right: 20px;
}
aside .cards .card h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #211b3d;
  margin: 10px 0;
}
aside .cards .card p {
  font-weight: 400;
  font-size: 16px;
  color: #9b9b9b;
}
/* aside .card img {
  height: 390px;
  width: 310px;
} */

/* footer */
footer {
  margin-top: 100px;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
footer h4 {
  font-weight: 600;
  font-size: 16px;
  color: #fb644b;
}
footer h3 {
  font-weight: 600;
  font-size: 32px;
  margin: 20px 0;
  color: #211b3d;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9b9b9b;
  margin-bottom: 20px;
  width: 60%;
}
footer .store img {
  margin-right: 10px;
}
footer .download-ilust {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
footer .download {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 50px;
}

/* responsive */

/* desktop version */
@media (min-width: 992px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}
